{% if moreinfos|length %}
    <div class="row moreinfo container">
        <div class="row">
            <div class="col-md-6 text-left leftpart">
                <a href="">Rent from this designer</a>
                <a href="">Rent from this owner</a>
            </div>
            <div class="col-md-6 text-right rightpart">
                <a href="" class="color-pink">Rent more</a>
                <a href="">Clothing</a>
                <a href="">Shoes</a>
                <a href="">Bags</a>
                <a href="">Accessories</a>
            </div>
        </div>            

        <!-- infosection -->
        <div class="infosection row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    {% for moreinfo in moreinfos %}
                    {% set fileurl = '/images/upload/'~moreinfo.filename %}
                    <div class="col-md-4">
                        <img src="{{ asset(fileurl)}}">
                        <h3 class="text-center color-pink">{{ moreinfo.title }}</h3>
                        <p class="text-center">
                            {{ moreinfo.description }}
                        </p>
                    </div>
                    {% endfor %}
                </div><!-- /.row --> 
            </div><!-- /.col-md-10 -->
        </div> <!-- /.infosection -->
    </div> <!-- /.moreinfo -->
{% endif %}