{% trans_default_domain 'cocorico_listing' %}

{{ form_start(form, {'attr': {'class': ''}}) }}

{{ form_errors(form) }}

{{ form_widget(form.searchword, {'attr': {'id':'searchword'}}) }}
<a data-ajax="">
    <span class="fa fa-search"></span>
</a>

{{ form_end(form) }}
